torch==2.7.0+cu118
torchvision==0.22.0+cu118
torchaudio==2.7.0+cu118
ultralytics
cupy-cuda11x
dxcam
bettercam
pygetwindow
pyautogui
pywin32
opencv-python==4.8.1.78
numpy==1.26.4
pandas
dill
psutil
requests
pyyaml
tqdm
matplotlib
seaborn
ipython
pyarmor
pyserial
serial
colorama
onnx==1.17.0
onnxruntime-gpu==1.17.0  # NVIDIA GPU support
onnx-simplifier
onnxruntime==1.20.0
